.carousel {
  max-width: 1153px;
  margin: 75px auto;
  padding: 0 50px;
  position: relative;

  :global .swiper {
    padding-bottom: 50px;
  }

  :global .swiper-pagination {
    bottom: 0;
    line-height: 0;

    @media screen and (max-width: 1023px) {
      display: none;
    }

    .swiper-pagination-bullet {
      box-sizing: border-box;
      width: 40px;
      height: 12px;
      margin: 0 6px;
      border: 1px solid #29557C;
      border-radius: 6px;
      opacity: 1;
      background: none;

      &.swiper-pagination-bullet-active {
        border: none;
        background: linear-gradient(274.15deg, #2A577E 3.47%, #12395D 66.48%);
      }
    }
  }

  :global #prev-slide-btn,
  :global #next-slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    cursor: pointer;

    &.swiper-button-disabled,
    &:hover {
      opacity: .25;
    }

    &.swiper-button-disabled {
      cursor: default;
    }
  }

  :global #prev-slide-btn {
    left: 0;
  }

  :global #next-slide-btn {
    right: 0;
  }
}
